.round-control80 {
  height: 51px;
  width: 51px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control100 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control120 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control200 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-pointer80 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer100 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer120 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer200 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}

.round-ring {
  width: 55px;
  border-radius: 50%;
  height: 100%;
  padding: 6px;
  background: slategray;
  box-shadow: inset 2px 2px 8px black;
}

.round-container {
  box-shadow: 6px 6px 6px black;
  border-radius: 50%;
  background: darkred;
}

.outer-ring {
  padding: 8px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(left, lightgrey, slategrey);
  box-shadow: 3px 3px 6px black;
  display: inline-block;
  position: relative;
}

#parent {
  position: relative;
  height: 207px;
  width: 92px;
  border: 1px solid lightgrey;
  margin: 0;
  border-left: none;
  border-right: none;
}

#parent .graphs {
  width: 80px;
  position: absolute;
  bottom: 0px;
  left: 4px;
  vertical-align: bottom;
  z-index: 1;
}

#parent .grid-blocks-container {
  position: absolute;
  bottom: 0px;
  left: 2px;
  z-index: 2;
  height: 270px;
  width: 90px;
  overflow: hidden;
}
#parent .grid-blocks-back {
  position: absolute;
  bottom: 0px;
  left: 2px;
  z-index: 0;
  height: 270px;
  width: 84px;
  overflow: hidden;
  background: linear-gradient(to top, black, grey);
}
#grid-blocks-inner .grid-blocks {
  border: 45px solid white;
  object-fit: cover;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  height: 42px;
  left: -25px;
  margin-top: -45px;
  width: 42px;
  box-shadow: inset 2px 2px 15px;
}
#grid-blocks-inner {
  text-align: center;
  position: relative;
  border: 2px solid white;
  border-bottom: none;
  height: 43px;
  width: 80px;
  overflow: hidden;
  justify-content: center;
}
#top-grid {
  position: relative;
  height: 63px;
  width: 92px;
  border: 1px solid lightgrey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0;
}

#grid-label-container {
  height: 63px;
  width: 50px;
  border-width: 1px;
  position: relative;
  border-style: solid;
  border-color: lightgrey;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#grid-label-container .grid-child {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

#grid-label-bottom {
  height: 207px;
  position: relative;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-left: none;
  border-right: none;
}

#grid-label-bottom .grid-child {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

#grid-label-bottom .grid-child-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px;
}

.number-db {
  font-size: 10pt;
  margin: 0px;
  padding: 2px;
}
