.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Slider-container {
  padding: 5px;
  display: inline-block;
  text-align: left;
  vertical-align: center;
}
span {
  display: inline-block;
  font-size: 10px;
  width: 30px;
}

.expanding-box {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  z-index: 1;
  position: relative;
  vertical-align: middle;
}
.expanding-box:hover {
  background-color: lightgray;
}
.hidden-control {
  padding-top: 5px;
  position: relative;
  visibility: hidden;
  left: 40px;
  vertical-align: middle;
  display: inline-block;
  z-index: 1;
}
.show-control {
  z-index: 1;
  overflow: hidden;
  border-radius: 4px;
  padding-top: 5px;
  visibility: visible;
  position: relative;
  display: inline-block;
  left: 30px;
  vertical-align: middle;
  box-shadow: 3px 3px 12px black;
  background: darkgrey;
  animation-name: expand;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes expand {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 256px;
    opacity: 1;
  }
}
.volume-bar {
  width: 6px;
  display: inline-block;
  margin: 2px;
  vertical-align: bottom;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#one {
  height: 10px;
  background-color: black;
}

#one-active {
  height: 10px;
  background-color: lightgrey;
  animation-name: volume;
  animation-direction: right;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

#two {
  height: 13px;
  background-color: black;
}
#two-active {
  height: 13px;
  background-color: lightgrey;
  animation-name: volume;
  animation-direction: right;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
#three {
  height: 16px;
  background-color: black;
}
#three-active {
  height: 16px;
  background-color: lightgrey;
  animation-name: volume;
  animation-direction: right;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

#four {
  height: 19px;
  background-color: black;
}
#four-active {
  height: 19px;
  background-color: lightgrey;
  animation-name: volume;
  animation-direction: right;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

@keyframes volume {
  from {
    background: black;
  }
  to {
    background: lightgrey;
  }
}
.arrow {
  background: url('./arrow-in-circle-point-to-up.svg');
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
  position: relative;
  vertical-align: middle;
  animation-name: button-close;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
.arrow-expanded {
  background: url('./arrow-in-circle-point-to-up.svg');
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: rotate(270deg);
  position: relative;
  vertical-align: middle;
  animation-name: button;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
@keyframes button {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

@keyframes button-close {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(90deg);
  }
}
