.round-control80 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control100 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control120 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-control200 {
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  background: radial-gradient(center, rgb(68, 68, 68), black);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 2px solid darkred;
}
.round-pointer80 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer100 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer120 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}
.round-pointer200 {
  width: 10px;
  background: white;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 31px;
  margin-left: 10px;
  transform: rotate(0deg);
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px;
}

.round-ring {
  width: 55px;
  border-radius: 50%;
  height: 100%;
  padding: 6px;
  background: slategray;
  box-shadow: inset 2px 2px 8px black;
}

.round-container {
  box-shadow: 6px 6px 6px black;
  border-radius: 50%;
  background: darkred;
}

.outer-ring {
  padding: 8px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(left, lightgrey, slategrey);
  box-shadow: 3px 3px 6px black;
  display: inline-block;
  position: relative;
}

#parent {
  position: relative;
  height: 180px;
  width: 50px;
  border: 1px solid lightgrey;
  margin: 0;
  border-left: none;
  border-right: none;
}

#parent .graphs {
  width: 40px;
  position: absolute;
  background: red;
  bottom: 0px;
  left: 4px;
  vertical-align: bottom;
  z-index: 1;
}

#top-grid {
  position: relative;
  height: 90px;
  width: 50px;
  border: 1px solid lightgrey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0;
}
